.content {
	position: relative;
}
.content.jumbotron {
	padding-top: 5px;
}
.content h1 {
	font-size: 40px;
	font-family: 'Slabo 27px', serif;
}
.content p {
	font-size: 17px;
	font-family: 'Slabo 27px', serif;
}
.contentDate {
	position: absolute;
	bottom: 5px;
	right: 20px;
	color: #888;
}
.formInput {
	color: white;
}
.formTable > tbody > tr > td:first-child {
	width: 30%;
}
