<template name="index">
	<style>
		@media (max-width: 700px) {
			#sidebarWrapper {
				display: initial;
				float: initial;
				margin: 0 auto;
				width: 100vw;
			}
		}
	</style>
	{{> main headerTemplate="indexHeader" contentTemplate="indexContent"}}
</template>
<template name="indexHeader">
	<div class="container-fluid clickable" style="display:inline-block;">
        <h1>Welcome!</h1>
    </div>
</template>
<template name="indexContent">
	<div class="jumbotron content">
		<h1>Medikey</h1>
		<!--<h4>Data sent (debug): <span id="tmp"></span></h4>-->
		<table id="receivedData" class="table table-striped table-bordered">
		</table>
		<table class="table table-striped table-bordered formTable">
			<tbody>
				<tr>
					<td>First Name:</td>
					<td><a id="firstName" data-type="text" data-inputclass="formInput"></a></td>
				</tr>
				<tr>
					<td>Last name:</td>
					<td><a id="lastName" data-type="text" data-inputclass="formInput"></a></td>
				</tr>
				<tr>
					<td>Blue Button Username:</td>
					<td><a id="username" data-type="text" data-inputclass="formInput"></a></td>
				</tr>
				<tr>
					<td>Blue Button Password:</td>
					<td><a id="password" data-type="password" data-inputclass="formInput"></a></td>
				</tr>
				<tr>
					<td>Shown Information to EMTs:</td>
					<td><a id="shownInfo" data-type="checklist"></a></td>
				</tr>
				<tr>
					<td>Emergency Contacts (List phone numbers, one per line):</td>
					<td><a id="contacts" data-type="textarea" data-inputclass="formInput"></a></td>
				</tr>
			</tbody>
		</table>
		<!--<button class="btn btn-default" id="test">Test (debug)</button>-->
	</div>
</template>
