<head>
    <title>Medikey</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/2.1.0/jsencrypt.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	{{> index}}
</body>

<template name="main">
	<div class="headerWrapper">
		{{> UI.dynamic template=headerTemplate data=headerData}}
	</div>
	<div id="sidebarWrapper">
		{{> login}}
	</div>
	<div id="contentWrapper">
		{{> UI.dynamic template=contentTemplate data=contentData}}
	</div>
</template>
<template name="login">
    {{#if currentUser}}
    <div class="panel panel-default">
        <div class="panel-body" style="padding: 5px; margin-left: 10px;">
            <h3 style="margin-left: 10px; color: #777;">Welcome, {{ currentUser.username }}</h3>
            <hr style="margin-bottom: 5px;">
            <div id="logout" class="clickable" style="display: inline;">
                <i class="fa fa-lg fa-arrow-circle-right"></i>
                <h4 style="display: inline; color: #777;">Logout</h4>
            </div>
        </div>
    </div>
    {{else}}
    <div id="loginDropdownPanel" class="panel panel-default clickable" data-down="0">
        <div class="panel-body" style="padding: 5px;"><i class="fa fa-lg fa-arrow-circle-right"></i><h4 style="display: inline; margin-left: 10px; color: #777;">Login</h4></div>
    </div>
    <div id="loginDropdown" style="margin-bottom: 25px;">
        {{> atForm}}
    </div>
    {{/if}}
</template>
