#sidebar {
	padding: 10px 5px;
}
.media.clickable {
	color: #777;
	border-radius: 4px;
	margin: 0px;
	padding: 5px;
}
.media.clickable:hover {
	color: black;
	background-color: rgba(0, 150, 136, .4);
}
